<div class="sign_in">
<p class="bold_text bigger_text">Welcome to the Albuquerque Auto Certs web portal!</p>

<br><br>

<p class="bigger_text"> 
This is the internal website for Albuquerque Auto Certs for inspectors, dealers, and other interested parties to access internal inspection information and create an efficient and user-friendly used auto inspection experience.
</p>
<p class="bigger_text"> 
Dealers: Click on the Navigation Menu and Navigate to "Search Certificates" in order to search by VIN and find your inspected vehicles.
</p>
<p class="bigger_text"> 
Inspectors: Click on the Navigation Menu and Navigate to "Inspections" in order to perform a new used auto inspection!</p>

</div>