/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */



 * {
  font-family: georgia;
}

body {
  background-color: #F0ECEB;
  width: 100%;
	text-align: center;
}
.search input[type=text],
.search input[type=submit]{
  width: 50%;
  height: auto;
  line-height: 3em;
  font-size: 3em;
	margin: 1em 1em 1em 1em;
}
.wrapper {
	width: 70%;
	min-height: 70%;
	border: 1px solid black;
	margin: 0 auto 0 auto;
	padding: 2% 5% 2% 5%;
  vertical-align:middle;
}
.field h1,
.field select,
.field a, 
.field p, 
.section{
    font-size: 4em;
    line-height: 4.5em;
    margin: 0.9em 0.2em 0.9em 0.2em;
    width: 100%;
    vertical-align:middle;
  }
a,p,h1{
  font-size: 4em;
  line-height: 2em;
  margin-bottom: 0.9em;
}
.field textarea, 
.field input[type=number],
.field input[type=text]
{
    font-size: 2em;
    line-height: 2.25em;
    margin: 0.3em 0.2em 0.9em 0.2em;
    width: 100%;
    vertical-align:middle;
  }
table tr td{ 
    font-size: 2em;
    line-height: 2.25em;
    margin: 0.9em 0.2em 0.9em 0.2em;
    width: 100%;
    vertical-align:middle;
  }

.field 
  label{
    font-size: 4em;
    margin: 0.9em 0.2em 0.2em 0.2em;
    padding: 0.9em 0.2em 0.1em 0.2em;
    line-height: 4.5em;
    width: 100%;
    vertical-align:middle;
  }
.field 
  div
  {
    width: 100%;
    vertical-align: middle;
  }
  input[type=submit], input[type=button], input[type=file] {
    padding: 0.1em 0.3em 0.1em 0.3em;
    font-size: 4em;
    line-height: 2em;
    border: 0;
    margin: 0;
    width: 100%;
  }

.center_text {
	text-align: center;
}

.smaller_text {
	font-size: 70%;
}

.bold_text {
	font-weight: bold;
}

.margins_right_left {
	margin: 0 5% 0 5%;
}

.pre_tag_style {
	background-color: white;
	font-family: georgia;
	font-size: 100%;
	word-wrap: break-word;
}

.left_align {
	text-align: left;
}

.no_background_color {
	background-color: white;
}

/*----------------------------------------- Error -----------------------------------------*/

#error_explanation {
  text-align: left;
  font-size: 4em;
  width: 50%;
  margin: 0 auto;
}
#error_explanation li{
  color: red;
}
.field_with_errors {
  width: 50%;
  margin: 0 auto;
}
.home_page_logo {
  text-align: center;
  width: 70%;
  height: auto;
  margin-left: auto ;
  margin-right: auto ;
}

.home_page_logo img {
  text-align: center;
  width: 100%;
  height: 100%;
}


/*----------------------------------------- .nav_bar Bar -----------------------------------------*/
a {
  text-decoration: none;
}
ul, ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-wrapper {
  width: 60%;
  margin: 5% auto;
  font-size: 1.5em;
}
.menu {
  width: auto;
  height: auto;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
}
.menu > li > a {
  background-color: #616975;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 122, 134)),to(rgb(80, 88, 100)));
  background-image: -webkit-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
  background-image: -moz-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
  background-image: -o-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
  background-image: -ms-linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
  background-image: linear-gradient(top, rgb(114, 122, 134), rgb(80, 88, 100));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
  border-bottom: 1px solid #33373d;
  -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
  -moz-box-shadow: inset 0px 1px 0px 0px #878e98;
  box-shadow: inset 0px 1px 0px 0px #878e98;
  width: 100%;
  height: 2.75em;
  line-height: 2.75em;
  display: block;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0,0,0,.5);
  font-size: 2.25em;
}
.menu ul li a {
  background: #fff;
  border-bottom: 1px solid #efeff0;
  width: 100%;
  height: 2.75em;
  line-height: 2.75em;
  text-indent: 2.75em;
  display: block;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.25em;
  font-weight: 400;
  color: #878d95;
}
.menu ul li:last-child a {
  border-bottom: 1px solid #33373d;
}
.menu > li > a:hover, .menu > li > a.active {
background-color: #772dbc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(119, 45, 188)),to(rgb(57, 21, 117)));
  background-image: -webkit-linear-gradient(top, rgb(119, 45, 188), rgb(57, 21, 117));
  background-image: -moz-linear-gradient(top, rgb(119, 45, 188), rgb(57, 21, 117));
  background-image: -o-linear-gradient(top, rgb(119, 45, 188), rgb(57, 21, 117));
  background-image: -ms-linear-gradient(top, rgb(119, 45, 188), rgb(57, 21, 117));
  background-image: linear-gradient(top, rgb(119, 45, 188), rgb(57, 21, 117));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
  border-bottom: 1px solid #103c56;
  -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
  -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
  box-shadow: inset 0px 1px 0px 0px #6ad2ef;
}
.menu > li > a.active {
  border-bottom: 1px solid #391575;
}
.menu > li > a span {
  font-size: 1.5em;
  display: inline-block;
  position: absolute;
  right: 1em;
  top: 50%;
  background: #48515c;
  line-height: 1em;
  height: 1em;
  padding: .4em .6em;
  margin: -.8em 0 0 0;
  color: #fff;
  text-indent: 0;
  text-align: center;
  -webkit-border-radius: .769em;
  -moz-border-radius: .769em;
  border-radius: .769em;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
  text-shadow: 0px 1px 0px rgba(0,0,0,.5);
  font-weight: 500;
}
.menu > li > a:hover span, .menu > li a.active span {
  background: #2173a1;
}
.menu > li > ul li a:before{
  content: '▶';
  font-size: 0.7em;
  color: #bcbcbf;
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: -0.90em;
}

.menu > li > ul li:hover a,
.menu > li > ul li:hover a span,
.menu > li > ul li:hover a:before {
  color: #32373D;
}


.menu ul > li > a span {
  font-size: 1.5em;
  display: inline-block;
  position: absolute;
  right: 1em;
  top: 50%; 
  background: #fff;
  border: 1px solid #d0d0d3;
  line-height: 1em;
  height: 1em;
  padding: .4em .7em;
  margin: -.9em 0 0 0;
  color: #878d95;
  text-indent: 0;
  text-align: center;
  -webkit-border-radius: .769em;
  -moz-border-radius: 769em;
  border-radius: 769em;
  text-shadow: 0px 0px 0px rgba(255,255,255,.01);
}


/* line 5, /Users/saqib/ruby/aac/app/assets/stylesheets/responses.css.scss */
.centered {
  text-align: center;
  font-size: 2em;
  line-height: 100%;
}

/* line 11, /Users/saqib/ruby/aac/app/assets/stylesheets/responses.css.scss */
.field {
  margin: 2% 0 2% 0;
}

/* line 15, /Users/saqib/ruby/aac/app/assets/stylesheets/responses.css.scss */
.section {
  line-height: 300%;
}

/* line 19, /Users/saqib/ruby/aac/app/assets/stylesheets/responses.css.scss */
.question {
  line-height: 300%;
}

/* line 23, /Users/saqib/ruby/aac/app/assets/stylesheets/responses.css.scss */
textarea {
  resize: none;
}
/* line 1, /Users/saqib/ruby/aac/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: .9em;
  line-height: 1em;
}

/* line 9, /Users/saqib/ruby/aac/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: .9em;
  line-height: 1em;
}

/* line 15, /Users/saqib/ruby/aac/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 0.625em;
  font-size: 0.689em;
}

/* line 21, /Users/saqib/ruby/aac/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /Users/saqib/ruby/aac/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /Users/saqib/ruby/aac/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /Users/saqib/ruby/aac/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 0.625em;
}

/* line 38, /Users/saqib/ruby/aac/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /Users/saqib/ruby/aac/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /Users/saqib/ruby/aac/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 28.125em;
  border: 2px solid red;
  padding: 0.438em;
  padding-bottom: 0;
  margin-bottom: 1.250em;
  background-color: #f0f0f0;
}
/* line 55, /Users/saqib/ruby/aac/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 0.313em 0.313em 0.313em 0.938em;
  font-size: 0.750em;
  margin: -0.438em;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /Users/saqib/ruby/aac/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 0.750em;
  list-style: square;
}
