<div class="login_page_logo">
  <img src="/assets/AAC-logo3.png" />
</div>

<div class="sign_in">
<h1>Albuquerque Auto Certs</h1>

<br><br><br>

<div class="sign_in">
<%= button_to "Sign in", new_user_session_path, :method => :get %>

<%= button_to "New Account", new_user_registration_path, :method => :get %>
</div>
