<div class="sign_in">
<div class="pdf_logo">
<img src="/assets/AAC_ShieldLogo.png" />
</div>

<h1>Albuquerque Auto Certs</h1>

<div class="sign_in">
<%= button_to "Sign in", new_user_session_path, :method => :get %>

<%= button_to "New Account", new_user_registration_path, :method => :get %>
</div>