<h1>Albuquerque Automobiles Certifications</h1>

<br/><br/><br/><br/><br/><br/>

<p> Already a member? <%= link_to "Sign in", new_user_session_path %> </p>
<p> Sign UP? <%= link_to "Sign up", new_user_registration_path %> </p>
