/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 * {
  font-family: georgia;
}

body {
  background-color: #F0ECEB;
  width: 100%;
	text-align: center;
}
.search input[type=text],
.search input[type=submit]{
  width: 50%;
  height: 3.2em;
  line-height: 3em;
  font-size: 3em;
  margin-bottom: 2px;
}
.wrapper {
	width: 70%;
	min-height: 70%;
	border: 1px solid black;
	margin: 0 auto 0 auto;
	padding: 2% 5% 2% 5%;
  vertical-align:middle;
}
.field h1,
.field select,
.field a, 
.field p, 
.section{
    font-size: 4em;
    line-height: 4.1em;
    width: 95%;
    vertical-align:middle;
  }
p,h1{
  font-size: 4em;
  line-height: 2em;
  margin-bottom: 0.9em;
}
.field textarea, 
.field input[type=number],
.field input[type=text]
{
    font-size: 2em;
    line-height: 2.25em;
    width: 95%;
    vertical-align:middle;
  }
table tr td,
table th td
{ 
    font-size: 2em;
    line-height: 2.25em;
    margin: 0.9em 0.2em 0.9em 0.2em;
    width: auto;
    vertical-align:middle;
  }

.field 
  label{
    font-size: 4em;
    margin: 0.9em 0.2em 0.2em 0.2em;
    line-height: 4.5em;
    width: 100%;
    vertical-align:middle;
  }
.field 
  div
  {
    width: 100%;
    vertical-align: middle;
  }
  input[type=submit], input[type=button] {
    font-size: 3em;
    line-height: 3em;
    border: 0;
    width: 100%;
    height: 3.2em;
    padding: 0.1em 0.3em 0.1em 0.3em;
    margin-bottom: 2px;
  }


.center_text {
	text-align: center;
}

.smaller_text {
	font-size: 70%;
}

.bold_text {
	font-weight: bold;
}

.margins_right_left {
	margin: 0 5% 0 5%;
}

.pre_tag_style {
	background-color: white;
	font-family: georgia;
	font-size: 100%;
	word-wrap: break-word;
}

.left_align {
	text-align: left;
}

.no_background_color {
	background-color: white;
}

/*----------------------------------------- Error -----------------------------------------*/

#error_explanation {
  text-align: left;
  font-size: 4em;
  width: 50%;
  margin: 0 auto;
}
#error_explanation li{
  color: red;
}
.field_with_errors {
  width: 50%;
  margin: 0 auto;
}

/*----------------------------------------- Changes -----------------------------------------*/

.sign_in {
  font-size: 200%;
}

.sign_in h1{
  font-size: 300%;
}

.sign_in input{
  margin-top: 10%;
  font-size: 100%;
  width: 90%;
  margin-bottom: 5%;
}