/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 * {
  font-family: georgia;
}

body {
  background-color: #F0ECEB;
  width: 100%;
}

.wrapper {
	width: 70%;
	min-height: 800px;
	border: 1px solid black;
	margin: 0 auto 0 auto;
	padding: 2% 5% 2% 5%;
}


/*----------------------------------------- .nav_bar Bar -----------------------------------------*/

.nav_bar {
	text-align: center;
	margin: 0 auto 0 auto;
}
.nav_bar ul li {
	float: left;
	font-size: 2em;
}
.nav_bar ul li:hover {
	background-color: #5f6975;
	border-radius: 10px;
}
.nav_bar ul li:hover a {
	color: #fff;
}
.nav_bar ul li a:hover {
	background-color: #5f6975;
	border-radius: 10px;
}
.nav_bar ul li a {
	display: block; 
	padding: 15px 25px 15px 25px;
	color: #757575; 
	text-decoration: none;
}
.nav_bar ul {
	background-color: #efefef;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
	padding-left:0;
}
.nav_bar ul:after {
	clear: both; 
	display: block;
}
.nav_bar ul ul {
	display: none;
	background: #5f6975; 
	border-radius: 10px; 
	position: absolute; 
	top: 100%;
}
.nav_bar ul li:hover > ul {
	display: block;
}
.nav_bar ul ul li {
	float: none; 
}
.nav_bar ul ul li a {
	padding: 15px 40px 15px 40px;
	margin-left: 0;
	color: #fff;
}	
.nav_bar ul ul li a:hover {
	background: #4b545f;
}

/*----------------------------------------- Home -----------------------------------------*/


h2 {
	text-align: center;
}

