/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


 * {
  font-family: georgia;
}

body {
  background-color: #F0ECEB;
  width: 100%;
}

.wrapper {
	width: 80%;
	border: 1px solid black;
	margin: 0 auto 0 auto;
	padding: 0 5% 0 5%;
}


/*----------------------------------------- Nav Bar -----------------------------------------*/

.nav_bar {
	height: 5%;
	margin: 0 auto 7% auto;
}

.nav_bar li{
	float: left;
	padding: 1%;
	list-style: none;
	font-size: 200%;
}


/*----------------------------------------- Home -----------------------------------------*/




