// Place all the styles related to the responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centered{
text-align: center;
}

textarea {
    resize: none;
}

.file-input-wrapper {
    width: 50%;
    height: 60px;
    overflow: hidden;
    position: relative;
    margin: 2% auto 2% auto;
}
.file-input-wrapper > input[type="file"] {
    font-size: 200px;
    top: 0;
    right: 0;
    opacity: 0;
}
.file-input-wrapper > .btn-file-input {
    display: block;
    font-size: 250%;
    width: 100%;
    height: 60px;
}
.file-input-wrapper:hover > .btn-file-input {
    background-color: #aaa;
}

