<div class="sign_in center_text">
<h1>What would you like to do?</h1>

<%= button_to 'New Inspection', new_inspection_path, :method => :get %>

<br/><br/>

<%= button_to 'Resume Inspection', inspections_path, :method => :get %>
</div>